@font-face 
{
    font-family: 'chunkfiveregular';
    src: url('../font/chunkfive-regular-webfont.woff2') format('woff2'),
         url('../font/chunkfive-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
    background-color: #DFF6FF;
    font-family: Arial, Helvetica, sans-serif;
    color: #0E185F;
}

#bloc_page
{
    width: 85%;
    margin: auto;
}

nav a
{
    font-weight: normal;
    text-transform: uppercase;
    font-family: chunkfiveregular, Arial, Helvetica, sans-serif;

}

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    font-family: chunkfiveregular, Arial, Helvetica, sans-serif;

}

h1
{
    font-size: xxx-large;
    font-family: chunkfiveregular, Arial, Helvetica, sans-serif;

}
nav ul 
{
    list-style-type: none;
    display: flex;
    font-family: chunkfiveregular, Arial, Helvetica, sans-serif;

}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 16px;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover 
{
    border-bottom: 3px solid #0E185F;
}

#banniere_img
{
    margin-top: 15px;
    height: 400px;
    border-radius: 1px;
    max-height: 100%;
    max-width: 100%;
    position: auto;
    box-shadow: 0px 4px 4px #0E185F;
    margin-bottom: 60px;
}
.img_bann
{
    width: 100%;
    height: 100%;
}

#titre
{
    text-shadow: 0px 4px 4px;
}

.phrase p
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

#exercices
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 8em;
}

.element
{
    width: 17em;
    text-align: justify;
    margin-bottom: 10em;
}

.img
{
    width: 100%;
    height: 100%;
}

.titreimg
{
    font-size: large;
    font-family: chunkfiveregular, Arial, Helvetica, sans-serif;

}

.program 
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-bottom: 5em;
}

